#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.a
*.diff
*.elf
*.ELF
*.erl
*.exe
*.irx
*.map
*.o
*.patch
*.rej
*.s
*.zip
*.ZIP
*.a
*.d
DETAILED_CHANGELOG

#
# files that we don't want to ignore
#
!.gitignore
!.gitattributes
!.github
!.editorconfig
!.clang-format
!.clang-format-ignore
!modules/debug/*.irx

#
# Generated source files
#
pc/iso2usbld/bin/iso2usbld
IOPRP_img.c

#
# 3rd party
#
*modules/network/lwNBD
*thirdparty/clang-format-lint-action

# language
lng/lang_*.lng
*lng_src
src/lang_internal.c
include/lang_autogen.h
tmp/
